.title {
  color: white;
  font-size: 17px;
  float: left;
  height: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  padding-right: 0px;
  padding-left: 20px;
  height: 25px;
  line-height: 25px;
}
