.exitbutton {
  color: white;
  font-size: medium;
  -webkit-app-region: no-drag;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.exitbutton:hover {
  background-color: red;
}

.minimizebutton {
  color: white;
  font-size: medium;
  -webkit-app-region: no-drag;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.minimizebutton:hover {
  background-color: rgba(200, 200, 200, 0.4);
}
